body {
  font-family: 'Roboto';
  font-size: 16px;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#video-background {
  top: 20%;
  left: 50%;
  width: 40%;
  height: 60%;
  background-color: whitesmoke;
  border-radius: 1%;
  z-index: 9;
  position: absolute;
  display: none;
  padding: 0.5%;
}

#video-overlay {
  position: absolute;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

#video-controls {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  left: 0;
  z-index: 12;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25px;
}

#video-controls button {
  width: 20%;
}

.noDisplay {
  display: none;
}

#location {
  text-align: center;
  font-size: 160%;
}

#covidStats {
  border-left: 6px solid white;
  border-right: 6px solid white;
  background-color: whitesmoke;
  font-size: 225%;
  padding: 0% 0.5% 0% 0.5%;
  border-radius: 16px;
  margin-right: 8px;
  margin-top: 8px;
}

#covidStats.inactive {
  z-index: -5;
  opacity: 0;
}

#myLocation {
  position: absolute;
  cursor: pointer;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
  outline: none;
  z-index: 5;
  bottom: -79px;
  right: 12px;
}

#myLocation:hover {
  color: rgba(0, 0, 0, 0.9);
}

.material-icons {
  vertical-align: middle;
}

#dim {
  width: 100%;
  height: 100%;
  z-index: -5;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s;
}

#dim.fade {
  opacity: 1;
  z-index: 10;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: absolute;
  width: 100%;
}

.overlay a {
  padding: 2.5%;
  text-decoration: none;
  font-size: 150%;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#logo {
  position: absolute;
  top: 15px;
  left: 5px;
  text-decoration: none;
  font-size: 175%;
  display: inline-block;
  transition: 0.3s;
}

.horizontal {
  height: 0.75px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray;
  margin-top: 4em;
}

.blue {
  color: #4285f4;
  font-weight: bold;
}

.red {
  color: #db4437;
  font-weight: bold;
}

.yellow {
  color: #f4b400;
  font-weight: bold;
}

.green {
  color: #0f9d58;
  font-weight: bold;
}

.overlay a:hover,
.overlay a:focus {
  color: #4285f4;
}

.overlay .closebtn {
  position: absolute;
  font-size: 225%;
  top: 5px;
  right: 0px;
}

#openOverlay {
  font-size: 28px;
  cursor: pointer;
  float: left;
  padding: 4px 4px 0px 12px;
  z-index: 6;
  position: relative;
  color: #4d4d4d;
}

#topnav {
  overflow: hidden;
  background-color: white;
  width: 600px;
  z-index: 6;
  position: relative;
  border-radius: 16px;
  top: 4px;
  left: 4px;
}

.topnav .search-container {
  float: left;
  z-index: 6;
  position: relative;
}

.topnav input[type='text'] {
  padding: 8px 0px 0px 8px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  outline: none;
  z-index: 6;
  position: relative;
  color: black;
}

.topnav input[type='text']::placeholder {
  color: #d3d3d3;
}

#search-content {
  width: 150px;
}

.topnav .search-container button {
  padding: 6px 10px 12px 10px;
  background: white;
  font-size: 28px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 6;
  position: relative;
}

.topnav .search-container > button:not(:last-child) {
  border-right: 1px solid #d3d3d3;
  box-sizing: border-box;
}

#search-submit {
  color: #4285f4;
  border: none;
}

#search-clear {
  color: #db4437;
}

#videos {
  color: #db4437;
}

.tab {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 28px 28px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: #4d4d4d;
  text-align: left;
}

.tab:hover,
#stats,
.active {
  color: #4285f4;
}

#stats.unselected {
  color: #4d4d4d;
}

.expand:after {
  content: '\2207';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\0394';
}

.content {
  padding: 0 18px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #4285f4;
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

#heatMapType,
#route-selector {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4285f4;
  color: whitesmoke;
  font-size: 100%;
  font-weight: bold;
}

#heatMapType {
  padding: 16px 0px 0px 0px;
}

#heatMapType:hover {
  color: white;
}

#toggle-heat {
  padding: 16px 0px 0px 0px;
  float: right;
}

#heatSlider {
  width: 62%;
  height: 15px;
  border-radius: 5px;
  margin-top: 24px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#heatSlider:hover {
  opacity: 1;
}

#relative-heat {
  padding: 16px 0px 0px 8px;
  float: right;
  position: relative;
  bottom: 40px;
}

#travelModes {
  padding: 16px 0px 0px 0px;
}

.travelbuttons {
  background: #4285f4;
  color: #d3d3d3;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 8px;
}

#driving {
  padding-right: 16px;
}

#walking {
  padding-right: 8px;
  padding-left: 8px;
}

#biking {
  padding-left: 16px;
}

.inputdata {
  padding: 0px 36px 0px 0px;
}

.routing-icons {
  color: white;
}

.content input[type='text'] {
  padding: 16px 0px 0px 0px;
  margin-top: 8px;
  font-size: 95%;
  border: none;
  outline: none;
  z-index: 6;
  position: relative;
  color: white;
  background: #4285f4;
  width: 88%;
  font-weight: bold;
}

.content input[type='text']::placeholder {
  font-size: 95%;
  color: #d3d3d3;
  font-weight: bold;
}

.content.routingHorizontal {
  height: 0.5px;
  color: white;
  background-color: white;
}

#directions-search {
  position: relative;
  bottom: 35px;
  left: 5px;
  background: #4285f4;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 6;
  color: whitesmoke;
  float: right;
  padding: 0px 0px 0px 8px;
}

#directions-search:hover {
  color: white;
}

.contentToggle {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  color: #f4b400;
  font-weight: bold;
}

#show-alternate-routes,
#show-expanded-routes,
#clear-route {
  width: 88%;
  text-align: left;
  padding: 16px 0px 0px 0px;
}

.contentToggle:hover,
.contentToggle.selected,
.travelbuttons:hover,
.travelbuttons.selected {
  color: white;
}

#directionsInfo {
  padding: 16px 0px 0px 0px;
}

#expanded-routing {
  display: none;
}

#route-info td,
#route-info th {
  padding: 2px 10px 2px 10px;
}

#osm-copyright {
  position: absolute;
  bottom: 5px;
  left: 75px;
  font-size: 13px;
}

.pac-container {
  border-radius: 10px;
  border-top: none;
  box-shadow: none;
}
