#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#search {
  position: absolute;
  top: 10px;
  left: 210px;
  z-index: 5;
}

#search-text {
  height: 35px;
}

#search-submit {
  height: 40px;
}

#video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
